#view_article {
  font-size: 0;
  padding-top: 10px;
  position: relative;
  width: 100%;

  .shell {
    width: 940px;
  }

  .content {
    background-color: $color5;
    margin-bottom: 10px;
    padding: 20px;
    width: 630px;
  }
}

.view_article__sidebar {
  margin: 0 0 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;

  .title_block:first-child {
    margin-top: 0;
  }
}

@media only screen and ( max-width: 1220px ) {
  .view_article__sidebar {
    position: relative;
    right: auto;
    top: auto;
    width: 100%;
  }
}


@media only screen and (max-width: 750px) {
  #view_article .content {
    width: 520px !important;
  }
}

@media only screen and (max-width: 560px) {
  #view_article .content {
    width: 336px !important;
  }
}