$bg-color: #f5f5f5;
$color0: #666;
$color1: #265a88;
$color2: #ddd;
$color3: #aaa;
$color4: #999;
$color5: #fff;
$color6: #333;
$color7: #eee;
$color8: #f8f7ed;
$color9: #555;
$color10: #ccc;
$color11: #f00;

.footer {
  background-color: $color6;
  border-top: 1px solid $color0;
  color: $color5;
  margin-top: 50px;
  padding: 20px 20px 20px 0 !important;
  position: relative;

  .item {
    display: inline-block;
    float: right;
    margin-left: 20px;

    &.last {
      float: right;
    }
  }

  a {
    color: $color10 !important;
  }
}
