.set_info.alert {
  display: inline-block;
  margin-bottom: 10px;
  max-width: 300px;
  vertical-align: top;

  &.wide{
    margin-right: 0;
    max-width: 100%;
    width: 100%;
  }

  .slidedown_title{
    display: inline-block;
    font-size: 14px;
  }

  .slidedown_title img{
    margin-right: 5px;
    vertical-align: top;
    width: 20px;
  }

  .slidedown_title .caret {
    margin-left: 10px;
  }

  .slidedown_content {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1515px) {
  .set_info.alert {
    margin: 10px 10px 0 0;
  }
}